#timeedit {
  height: calc(100% + 20rem);

  & :is(h2, h3) {
    text-align: center;
  }

  & a {
    position: fixed;
  }
}

.buttonForm {
  max-width: calc(4 * 20ch);
  margin-inline: auto;
  position: relative;

  & ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2rem repeat(2, 1fr) 2fr 3rem;
    gap: 0.25rem;

    & li {
      display: contents;

      & span {
        display: grid;
        place-items: center;
        background-color: var(--bg, rgb(var(--background-end-rgb)));

        & img {
          display: block;
          max-width: 1rem;
          max-height: 1rem;
          margin: auto;
        }
      }

      & input {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

  & .actions {
    display: flex;
    gap: 1rem;
  }

  & .previewHolder {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    display: block;
    margin: auto;

    & h3 {
      font-style: italic;
    }
  }

  & .preview {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15rem;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--bg, rgb(var(--background-end-rgb)));
    padding: 1rem;
  }

  & .input {
    display: flex;
    flex-direction: column;

    & button {
      margin-block-start: 0.5rem;
      flex-grow: 1;
      font-size: 14pt;
    }
  }
}