.menu {
  --item-width: 11.25ch;
  --fg: white;
  --bg: orange;

  list-style: none;
  position: relative;
  margin-block: 0;

  & > li {
    & > .picButton {
      position: relative;
      z-index: 2;
    }
    
    & input {
      display: none;
    }
  }

  & ul {
    display: flex;
    list-style: none;

    & li {
      position: absolute;
      top: 0;
    }
  }

  & label ~ ul li {
    left: 0;
    z-index: 1;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
  }

  & label ~ input:checked ~ ul li {
    opacity: 1;
    &:nth-of-type(1) {
      left: calc(1.5 * var(--item-width))
    }
    &:nth-of-type(2) {
      left: calc(2.5 * var(--item-width))
    }
    &:nth-of-type(3) {
      left: calc(3.5 * var(--item-width))
    }
    &:nth-of-type(4) {
      left: calc(4.5 * var(--item-width))
    }
    &:nth-of-type(5) {
      left: calc(5.5 * var(--item-width))
    }
    &:nth-of-type(6) {
      left: calc(6.5 * var(--item-width))
    }
    &:nth-of-type(7) {
      left: calc(7.5 * var(--item-width))
    }
    &:nth-of-type(8) {
      left: calc(8.5 * var(--item-width))
    }
    &:nth-of-type(9) {
      left: calc(9.5 * var(--item-width))
    }
  }
}

.picButton {
  display: inline-block;
  background-color: var(--bg);
  min-width: 8ch;
  border-radius: 10%;
  padding: 0.5rem;
  cursor: pointer;
  border: 5px ridge color-mix(in srgb, var(--bg) 100%, black);

  &:hover {
    filter: brightness(1.2);
  }

  & img {
    width: 9ch;
    max-height: 9ch;
    object-fit: contain;
  }

  & .textIcon {
    font-size: 5rem;
  }

  & img, & .textIcon {
    background-color: #CCC;
    border-radius: 15%;
  }

  & h2, & h3 {
    text-align: center;
    color: var(--fg);
    margin-block: 0
  }
}