#fileselect {
  display: grid;
  place-items: center;
  height: calc(100dvh - 1rem);

  & h1 {
    font-size: 10vh;
    margin-block: 0;
  }

  & h2 {
    font-size: 3.5vh;
    margin-block-start: 3rem;
  }

  & form {
    width: min(100%, 60rem);

    & label:nth-of-type(1) {
      width: 4rem;

      & input[type="radio"] {
        width: 2rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid green;

        &:checked {
          accent-color: pink;
        }
      }
    }

    & button {
      font-size: 15pt;
      padding: 0.5rem 1rem;
      transition: background-color 0.5s;

      &:hover, &:focus {
        background-color: #22BB3399;
        backdrop-filter: opacity(50%);
      }
    }
  }

  & fieldset, & label:nth-of-type(2) {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  & fieldset:has(input[type="radio"]:checked) {
    background-color: #FF69B455;
    backdrop-filter: opacity(50%);
  }

  & label input {
    flex-grow: 1;
  }

  & span {
    margin-inline-end: 0.5rem;
  }

  & img {
    max-height: 45vh;
  }

  & div {
    display: grid;
    place-items: center;
    margin-block: 0.5rem;
  }
}
