.dialog {
  & h1 {
    margin-block-start: 0;
    text-align: center;
  }

  & label {
    display: flex;
    align-items: center;

    & h2 {
      font-size: 1rem;
      font-weight: normal;
    }

    & h2:after {
      content: ': ';
    }
  }

  & td {
    text-align: center;
  }

  & .actions {
    display: flex;
    justify-content: flex-end;

    & button {
      margin-left: 0.5rem;
    }
  }

  --border: 2px solid darkblue;

  & #tracking {
    border-collapse: collapse;
    margin-block-end: 1rem;

    & th {
      padding: 0.1rem 0.25rem;
    }

    & tr:nth-of-type(1) th:nth-of-type(2) {
      border-inline-end: var(--border);
    }

    & tr:nth-of-type(2) {
      & th, & td {
        border-block-end: var(--border);
      }

      & td:nth-of-type(1) {
        border-inline-end: var(--border);
      }
    }

    & tr:nth-of-type(3) td:nth-of-type(1) {
      border-inline-end: var(--border);
    }
  }
}