.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100dvh;
  max-width: calc(100svw - 10rem);
  margin-inline-start: 3rem;


  & .top {
    display: flex;
    justify-content: center;

    & aside {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & .bottom {
    margin-block-start: auto;
    width: 100%;
  }
}
