.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  max-width: 100dvw;

  & .top {
    display: flex;
    justify-content: center;

    & aside {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & .bottom {
    margin-block-start: auto;
    width: 100%;
  }
}
